<a href="https://colab.research.google.com/github/Dogbware/Mineria_datos/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#** PRACTICA PANDAS**
Parte 1: Carga y Exploración de Datos
1. Carga de datos: Carga un archivo CSV (por ejemplo, `datos.csv`) utilizando `pandas`.

In [4]:
import pandas as pd

In [23]:
df = pd.read_csv('documentos/modalidadVirtual.csv')

2. Exploración básica: Muestra las primeras 5 filas, las últimas 5 filas, y un resumen estadístico de los datos.

In [6]:
df.head()

,Unnamed: 0,time,carrera,acepta,positivo,negativo,edad,sexo,trabajo
0,0,2020-11-08,Ingeniería de Sistemas,Si,Horario flexible.,Contacto Personal Docente-Estudiantil.,20,Hombre,Eventual
1,1,2020-11-08,Psicología,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,26,Hombre,Eventual
2,2,2020-11-08,Ingeniería de Sistemas,Si,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",20,Mujer,Sí
3,3,2020-11-08,Ingeniería de Sistemas,Si,Horario flexible.,Conexión a internet.,18,Mujer,No
4,4,2020-11-08,Ingeniería de Sistemas,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,39,Hombre,Sí

In [7]:
df.tail()

,Unnamed: 0,time,carrera,acepta,positivo,negativo,edad,sexo,trabajo
217,230,2020-12-10,Gestión Turística y Hotelera,Si,Horario flexible.,Conexión a internet.,19,Mujer,Sí
218,231,2020-12-11,Ingeniería de Sistemas,No,Acceso desde cualquier lugar.,"Falta de recursos de calidad(plataformas, doce...",23,Mujer,No
219,232,2020-12-11,Gestión Turística y Hotelera,No,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",25,Hombre,Sí
220,233,2020-12-11,Ingeniería Agronómica,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,20,Mujer,Sí
221,234,2020-12-12,Comercio Internacional,Si,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",23,Hombre,Sí

In [8]:
df.describe()

       Unnamed: 0        edad
count  222.000000  222.000000
mean   119.896396   28.166667
std     67.424522    7.556374
min      0.000000   17.000000
25%     63.250000   22.000000
50%    121.500000   27.000000
75%    177.750000   33.000000
max    234.000000   54.000000

3. Información del DataFrame: Muestra la información del DataFrame (tipos de datos, columnas, etc.).

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  222 non-null    int64
 1   time        222 non-null    object
 2   carrera     222 non-null    object
 3   acepta      222 non-null    object
 4   positivo    222 non-null    object
 5   negativo    222 non-null    object
 6   edad        222 non-null    int64
 7   sexo        222 non-null    object
 8   trabajo     222 non-null    object
dtypes: int64(2), object(7)
memory usage: 15.7+ KB

Parte 2: Limpieza de Datos
1. Muestra la cantidad de valores nulos y eliminar valores faltantes

In [10]:
df.isnull().sum()

Unnamed: 0    0
time          0
carrera       0
acepta        0
positivo      0
negativo      0
edad          0
sexo          0
trabajo       0
dtype: int64

2. Rellenar valores faltantes: Rellena los valores faltantes con 0.

In [11]:
df.fillna(0)

,Unnamed: 0,time,carrera,acepta,positivo,negativo,edad,sexo,trabajo
0,0,2020-11-08,Ingeniería de Sistemas,Si,Horario flexible.,Contacto Personal Docente-Estudiantil.,20,Hombre,Eventual
1,1,2020-11-08,Psicología,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,26,Hombre,Eventual
2,2,2020-11-08,Ingeniería de Sistemas,Si,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",20,Mujer,Sí
3,3,2020-11-08,Ingeniería de Sistemas,Si,Horario flexible.,Conexión a internet.,18,Mujer,No
4,4,2020-11-08,Ingeniería de Sistemas,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,39,Hombre,Sí
...,...,...,...,...,...,...,...,...,...
217,230,2020-12-10,Gestión Turística y Hotelera,Si,Horario flexible.,Conexión a internet.,19,Mujer,Sí
218,231,2020-12-11,Ingeniería de Sistemas,No,Acceso desde cualquier lugar.,"Falta de recursos de calidad(plataformas, doce...",23,Mujer,No
219,232,2020-12-11,Gestión Turística y Hotelera,No,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",25,Hombre,Sí
220,233,2020-12-11,Ingeniería Agronómica,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,20,Mujer,Sí
221,234,2020-12-12,Comercio Internacional,Si,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",23,Hombre,Sí

3. Eliminar columnas innecesarias: Elimina una columna que no sea relevante para el análisis.

In [ ]:
#df.dropna() Elimina filas inecesarias

Parte 3: Filtrado y Selección de Datos
1. Filtrar con múltiples condiciones: Filtra las filas que cumplan con múltiples condiciones.

In [12]:
df_filtrado = df[df["edad"] >= 18]
df_filtrado

,Unnamed: 0,time,carrera,acepta,positivo,negativo,edad,sexo,trabajo
0,0,2020-11-08,Ingeniería de Sistemas,Si,Horario flexible.,Contacto Personal Docente-Estudiantil.,20,Hombre,Eventual
1,1,2020-11-08,Psicología,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,26,Hombre,Eventual
2,2,2020-11-08,Ingeniería de Sistemas,Si,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",20,Mujer,Sí
3,3,2020-11-08,Ingeniería de Sistemas,Si,Horario flexible.,Conexión a internet.,18,Mujer,No
4,4,2020-11-08,Ingeniería de Sistemas,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,39,Hombre,Sí
...,...,...,...,...,...,...,...,...,...
217,230,2020-12-10,Gestión Turística y Hotelera,Si,Horario flexible.,Conexión a internet.,19,Mujer,Sí
218,231,2020-12-11,Ingeniería de Sistemas,No,Acceso desde cualquier lugar.,"Falta de recursos de calidad(plataformas, doce...",23,Mujer,No
219,232,2020-12-11,Gestión Turística y Hotelera,No,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",25,Hombre,Sí
220,233,2020-12-11,Ingeniería Agronómica,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,20,Mujer,Sí
221,234,2020-12-12,Comercio Internacional,Si,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",23,Hombre,Sí

In [13]:
df_filtrado = df[(df["edad"] >= 18) & (df["edad"]<50)]
df_filtrado

,Unnamed: 0,time,carrera,acepta,positivo,negativo,edad,sexo,trabajo
0,0,2020-11-08,Ingeniería de Sistemas,Si,Horario flexible.,Contacto Personal Docente-Estudiantil.,20,Hombre,Eventual
1,1,2020-11-08,Psicología,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,26,Hombre,Eventual
2,2,2020-11-08,Ingeniería de Sistemas,Si,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",20,Mujer,Sí
3,3,2020-11-08,Ingeniería de Sistemas,Si,Horario flexible.,Conexión a internet.,18,Mujer,No
4,4,2020-11-08,Ingeniería de Sistemas,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,39,Hombre,Sí
...,...,...,...,...,...,...,...,...,...
217,230,2020-12-10,Gestión Turística y Hotelera,Si,Horario flexible.,Conexión a internet.,19,Mujer,Sí
218,231,2020-12-11,Ingeniería de Sistemas,No,Acceso desde cualquier lugar.,"Falta de recursos de calidad(plataformas, doce...",23,Mujer,No
219,232,2020-12-11,Gestión Turística y Hotelera,No,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",25,Hombre,Sí
220,233,2020-12-11,Ingeniería Agronómica,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,20,Mujer,Sí
221,234,2020-12-12,Comercio Internacional,Si,Horario flexible.,"Falta de recursos de calidad(plataformas, doce...",23,Hombre,Sí

2. Seleccionar columnas: Selecciona solo ciertas columnas para un nuevo DataFrame.

In [14]:
df = df[["edad","sexo"]]
df

     edad    sexo
0      20  Hombre
1      26  Hombre
2      20   Mujer
3      18   Mujer
4      39  Hombre
..    ...     ...
217    19   Mujer
218    23   Mujer
219    25  Hombre
220    20   Mujer
221    23  Hombre

[222 rows x 2 columns]

Parte 4: Operaciones y Agrupación
1. Calcula la suma, media de una columna.

In [15]:
df = df['edad'].sum()
df

np.int64(6253)

In [16]:
media = df_filtrado['edad'].mean()
media

np.float64(28.15277777777778)

2. Agrupa los datos por una columna y calcula la media de otra columna para cada grupo.

In [19]:
df.groupby('sexo')['edad'].mean()

sexo
Hombre    28.816667
Mujer     27.401961
Name: edad, dtype: float64

3. Crea una tabla pivote para resumir los datos.

In [25]:
df.pivot_table(
    values="edad",
    index="time",
    columns=["carrera", "acepta", "trabajo"],
    aggfunc="mean"
)

carrera    Administración de Empresas       Artes Plásticas        \
acepta                             Si                    Si
trabajo                      Eventual    Sí        Eventual    Sí
time
2020-11-08                       24.0   NaN             NaN   NaN
2020-11-09                        NaN  29.0            20.0   NaN
2020-11-10                        NaN   NaN             NaN   NaN
2020-11-11                        NaN   NaN             NaN   NaN
2020-11-13                        NaN   NaN             NaN   NaN
2020-11-14                        NaN  29.0             NaN   NaN
2020-11-15                        NaN  24.0             NaN   NaN
2020-11-17                        NaN   NaN             NaN   NaN
2020-11-18                        NaN   NaN             NaN   NaN
2020-11-19                        NaN   NaN             NaN   NaN
2020-11-20                        NaN   NaN             NaN   NaN
2020-11-22                        NaN  22.0             NaN   NaN
2020-11-23                        NaN   NaN             NaN   NaN
2020-11-24                        NaN   NaN             NaN  40.0
2020-11-25                        NaN   NaN             NaN   NaN
2020-11-26                        NaN   NaN             NaN   NaN
2020-11-27                        NaN  25.5             NaN   NaN
2020-11-28                        NaN   NaN             NaN   NaN
2020-11-29                        NaN   NaN             NaN   NaN
2020-11-30                        NaN   NaN             NaN   NaN
2020-12-06                        NaN   NaN             NaN   NaN
2020-12-07                        NaN   NaN             NaN   NaN
2020-12-08                        NaN   NaN             NaN  30.0
2020-12-09                        NaN   NaN             NaN   NaN
2020-12-10                        NaN   NaN             NaN   NaN
2020-12-11                        NaN   NaN             NaN   NaN
2020-12-12                        NaN   NaN             NaN   NaN

carrera    Ciencias Físicas y Energías Alternativas       Ciencias Políticas  \
acepta                                           Si                       Si
trabajo                                    Eventual    Sí           Eventual
time
2020-11-08                                      NaN  25.0                NaN
2020-11-09                                      NaN  33.0                NaN
2020-11-10                                      NaN   NaN                NaN
2020-11-11                                      NaN   NaN                NaN
2020-11-13                                      NaN   NaN                NaN
2020-11-14                                      NaN   NaN                NaN
2020-11-15                                      NaN   NaN                NaN
2020-11-17                                     30.0   NaN                NaN
2020-11-18                                      NaN   NaN                NaN
2020-11-19                                      NaN   NaN               30.0
2020-11-20                                      NaN   NaN                NaN
2020-11-22                                     22.0  30.0                NaN
2020-11-23                                      NaN   NaN                NaN
2020-11-24                                     25.0   NaN                NaN
2020-11-25                                      NaN   NaN                NaN
2020-11-26                                      NaN   NaN                NaN
2020-11-27                                      NaN   NaN                NaN
2020-11-28                                     25.0   NaN                NaN
2020-11-29                                      NaN   NaN                NaN
2020-11-30                                      NaN   NaN                NaN
2020-12-06                                      NaN   NaN                NaN
2020-12-07                                      NaN   NaN                NaN
2020-12-08                                      NaN   NaN                NaN
2020-12-09                                      NaN   NaN                NaN
2020-12-10                                      NaN   NaN                NaN
2020-12-11                                      NaN   NaN                NaN
2020-12-12                                      NaN   NaN                NaN

carrera          Ciencias de la Educación           ...  Otra                 \
acepta                                 No       Si  ...    No       Si
trabajo       Sí                       No Eventual  ...    No Eventual    No
time                                                ...
2020-11-08   NaN                     19.0      NaN  ...   NaN      NaN   NaN
2020-11-09   NaN                      NaN      NaN  ...   NaN     30.0   NaN
2020-11-10   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-11-11   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-11-13   NaN                      NaN      NaN  ...   NaN      NaN  18.0
2020-11-14   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-11-15   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-11-17   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-11-18   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-11-19   NaN                      NaN      NaN  ...   NaN     21.0   NaN
2020-11-20   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-11-22   NaN                      NaN      NaN  ...  20.0     22.0   NaN
2020-11-23   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-11-24   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-11-25   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-11-26  43.0                      NaN      NaN  ...   NaN      NaN   NaN
2020-11-27   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-11-28   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-11-29   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-11-30   NaN                      NaN      NaN  ...   NaN     19.0   NaN
2020-12-06   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-12-07   NaN                      NaN      NaN  ...   NaN      NaN  23.0
2020-12-08   NaN                      NaN      NaN  ...   NaN     23.0   NaN
2020-12-09   NaN                      NaN     26.0  ...   NaN      NaN   NaN
2020-12-10   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-12-11   NaN                      NaN      NaN  ...   NaN      NaN   NaN
2020-12-12   NaN                      NaN      NaN  ...   NaN      NaN   NaN

carrera          Psicología             Sociología Trabajo Social
acepta                   Si                     Si             No    Si
trabajo       Sí   Eventual    No    Sí         Sí             Sí    Sí
time
2020-11-08   NaN       29.0   NaN   NaN        NaN            NaN   NaN
2020-11-09  26.5        NaN   NaN  30.0        NaN            NaN  30.0
2020-11-10  18.0        NaN   NaN  33.0        NaN            NaN  19.5
2020-11-11   NaN        NaN   NaN   NaN        NaN            NaN   NaN
2020-11-13  25.0        NaN   NaN  30.0        NaN            NaN   NaN
2020-11-14  27.5        NaN   NaN   NaN        NaN            NaN  24.0
2020-11-15   NaN        NaN   NaN   NaN        NaN            NaN   NaN
2020-11-17   NaN        NaN   NaN   NaN        NaN            NaN   NaN
2020-11-18  25.0        NaN   NaN   NaN        NaN            NaN   NaN
2020-11-19   NaN        NaN   NaN  40.0        NaN            NaN   NaN
2020-11-20   NaN        NaN   NaN  45.0       28.0            NaN  25.0
2020-11-22  27.0        NaN   NaN  37.0        NaN            NaN   NaN
2020-11-23   NaN        NaN   NaN   NaN        NaN            NaN   NaN
2020-11-24  26.0        NaN   NaN  32.0        NaN            NaN   NaN
2020-11-25   NaN        NaN   NaN   NaN        NaN            NaN   NaN
2020-11-26   NaN        NaN   NaN   NaN        NaN            NaN   NaN
2020-11-27  27.5        NaN   NaN   NaN        NaN            NaN   NaN
2020-11-28  30.0        NaN   NaN   NaN        NaN            NaN   NaN
2020-11-29   NaN        NaN   NaN   NaN        NaN            NaN   NaN
2020-11-30   NaN        NaN   NaN   NaN        NaN            NaN   NaN
2020-12-06   NaN        NaN   NaN   NaN        NaN            NaN   NaN
2020-12-07   NaN        NaN   NaN   NaN        NaN            NaN   NaN
2020-12-08   NaN       40.0   NaN   NaN        NaN           20.0  23.0
2020-12-09   NaN        NaN  21.0   NaN        NaN            NaN   NaN
2020-12-10   NaN        NaN   NaN   NaN        NaN            NaN  30.0
2020-12-11   NaN        NaN   NaN   NaN        NaN            NaN   NaN
2020-12-12   NaN        NaN   NaN   NaN        NaN            NaN   NaN

[27 rows x 50 columns]

Ejercicio 5: Manipulación de Datos
1. Ordenar datos: Ordena el DataFrame por una columna específica.

In [26]:
df.sort_values("carrera")

,Unnamed: 0,time,carrera,acepta,positivo,negativo,edad,sexo,trabajo
179,191,2020-11-27,Administración de Empresas,Si,Horario flexible.,Contacto Personal Docente-Estudiantil.,32,Mujer,Sí
124,135,2020-11-22,Administración de Empresas,Si,Acceso desde cualquier lugar.,Contacto Personal Docente-Estudiantil.,22,Mujer,Sí
95,106,2020-11-14,Administración de Empresas,Si,Acceso desde cualquier lugar.,"Falta de recursos de calidad(plataformas, doce...",29,Hombre,Sí
26,29,2020-11-09,Administración de Empresas,Si,Horario flexible.,Contacto Personal Docente-Estudiantil.,29,Hombre,Sí
102,113,2020-11-15,Administración de Empresas,Si,Autonomía.,Conexión a internet.,21,Hombre,Sí
...,...,...,...,...,...,...,...,...,...
200,212,2020-12-08,Trabajo Social,Si,Acceso desde cualquier lugar.,Conexión a internet.,23,Mujer,Sí
216,229,2020-12-10,Trabajo Social,Si,Horario flexible.,Contacto Personal Docente-Estudiantil.,30,Mujer,Sí
116,127,2020-11-20,Trabajo Social,Si,Acceso desde cualquier lugar.,Conexión a internet.,25,Mujer,Sí
75,85,2020-11-10,Trabajo Social,Si,Horario flexible.,Conexión a internet.,17,Mujer,Sí
66,76,2020-11-10,Trabajo Social,Si,Autonomía.,Contacto Personal Docente-Estudiantil.,22,Mujer,Sí

Ejercicio 6: Guardar Resultados
1. Guardar DataFrame: Guarda el DataFrame modificado en un nuevo archivo CSV.

In [27]:
df.to_csv("nuevo_archivo.csv", index=False)